.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: system-ui;
  font-size: 35px;
  font-weight: 700;
  align-items: center;
  padding: 8rem;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: #398192;
}
