.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: system-ui;
    font-size: 35px;
    font-weight: 700;
    align-items: center;
    padding: 8rem;
    min-height: 100vh;
}

.desc {
    color: #15444f;
}

.button {
    border: 3px solid #15444f ;
    border-radius: 5px;
    font-size: 30px;
    padding: 1rem;
    color: #15444f;
    background-color: transparent;
    font-family: system-ui;
    font-weight: 700;
    box-shadow: 8px 8px 8px 0 rgb(21, 68, 79,0.3);
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: #398192;

}